@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CREAR ACTA DE REQUERIMIENTOS</h1>
</div>

<div class="row">
    <a class="btn btn-success" href="~/CrearPDF/Index">CREA TU PDF</a>
</div>